*{
  padding: 0;
  margin: 0;
  font-family: "Edu AU VIC WA NT Pre", cursive;
}

body{
  background-image: url(https://th.bing.com/th/id/OIP.xzClHA2bUu6EDHF5TmVimAHaEh?rs=1&pid=ImgDetMain);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100dvh;
  color: white;
  background-attachment: fixed;
}